*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}



body {
  /* max-width: 1440px; */
  margin: 0 auto;
  /* position:relative; */
  /* margin: 30px; */
  /* background-color: red;  */
  background-color: #F8EDE3;
  display: flex;
  justify-content: center;
  font-family: 'Lato', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


