header{
    width:100%;
    overflow: hidden;
    background-color: #7D6E83;
    /* background-color: #E38B29; */
}

.logo-container{
    display:flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 48px;
    cursor: pointer;
    width:100%;
}