header{
    width:100%;
    overflow: hidden;
}

.logo-container{
    display:flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 48px;
    cursor: pointer;
    /* background-color: aqua; */
    /* background-color: #D0B8A8; */
    width:100%;
}