.postContainer{
    background-color: chocolate;
    width: 700px;
    display: flex;
    justify-content: center;
}

.post{
    background-color: bisque;
    width: 640px;
    height: 480x;
    border-radius: 18px;
}

.post p{
    margin-left: 18px;
}

.post_images{
    max-width: 512px;
    max-height: 384px;
}

.postHud-owner{
    width: 600px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;

}

.fa-heart{
    cursor: pointer;
}