.main-container{
    width:100%;
    /* width:800px; */
    background-color: #dfd3c3;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.post-container{
    background-color: #dfd3c3;
    /* background-color: blue; */
    /* width: 768px; */
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 96px;
}

.post-container-sub{
    width:100%;
}

.post{
    background-color: #F8EDE3;
    /* width: 640px; */
    width:100%;
    /* height: 480x; */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 48px;
    box-shadow: 0 4px 4px 0 gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-info{
    /* background-color: #D0B8A8; */
    background-color: #7D6E83;
    width:100%;
}
.post-author{
    margin-top: 4px;
    margin-bottom: 0px;
}
.post-date{
    margin-top: 2px;
    margin-left:12px;
    margin-bottom: 4px;
}

.post-message{
    width:95%;
}

.post-message-edited{
    width:100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 32px;
    box-shadow: 0 4px 4px 0 gray;
    
}

.post-message-edited form{
    /* width: 100%; */
  
    margin-left: 0px;
}

.post-message-edited-textarea{
    resize: none;
    width: 100%;
    height: 240px;
}

/* textarea{
    
} */

.post-message-edited-hud{
    display:flex;
    justify-content: space-between;
    background-color: #D0B8A8;
    height: 48px;
    border-radius: 0px 0px 12px 12px;
    overflow: hidden;
}

.send-btn-edit{
    border: none;
    text-decoration: none;
    background-color: #D0B8A8;
    margin-top: 8px;
}



.post-message p{
    /* width:640px; */
    /* width:100%; */
    margin-top: 0px;
    margin-left: 18px;
    margin-right: 18px;
    text-align: justify;
    text-justify: inter-word;
    /* background-color: red;  */
}

.post-image-container{
    width:95%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    
    margin-bottom: 24px;
}

.post-image{
    /* width: 632px; */
    width: 100%;
    margin-top: 12px;
    /* margin-top: 12px; */
    /* max-width: 800px;  */
    /* max-height: 384px;  */
    object-fit: contain;
}

.post-noImage{
    /* background-color: aqua; */
    width:100%;
    margin-top: 4px;
}

.post-hud-edit{
    /* width: 640px; */
    width:100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 48px;
    /* background-color: blueviolet; */
    background-color: #D0B8A8;
    display: flex;
    justify-content: space-between;

}

.post-hud-edit-buttons button{
    margin-top: 12px;
    margin-left: 8px;
    border: none;
    text-decoration: none;
    background-color: #D0B8A8;
}

.postHud-other{
    width:100%;
    /* width:640px; */
    display: flex;
    justify-content: flex-end;
    background-color: #D0B8A8;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

.post-author{
    margin-left: 12px;
}

.likeContainer{
    margin-top: 8px;
    margin-right: 8px;
    /*  width: 48px; */
    /* display: flex;
    justify-content: space-between; */
    /* background-color: aqua; */
    position:relative;
}

.likeCounter{
    padding-left: 6px;
}

.fa-heart{
    cursor: pointer;
    /* opacity: 0; */
    /* color: red; */

}

.fa-heart:hover{
    /* opacity: 0; */
    color:red;
}

 .heart-back{
    color:red;
    position: absolute;
    top: -2px; 
    right: 0px;
    transition-timing-function: ease-in-out;
    transition: opacity 2s;
    opacity: 0; 
}

.heart-back:hover{
    opacity: 1;
    color:red;
} 

.fa-trash-can{
    cursor: pointer;
}

.fa-pen-to-square{
    cursor:pointer;
}

.fa-input-label .fa-paperclip{
    padding-top: 8px;
    color:blue;
}

@media all and (max-width:768px){

.main-container{
    /* width:680px; */
}



}