.postContainer{
    background-color: #DFD3C3;
    width: 700px;
    display: flex;
    justify-content: center;
    margin-top: 96px;
}

.post{
    background-color: #F8EDE3;
    width: 640px;
    height: 480x;
    border-radius: 12px;
    margin-bottom: 32px;
}

/* .post p{
    margin-left: 18px;
} */

.post-message p{
    margin-top: 0px;
    margin-left: 18px;
    /* background-color: red;  */
}

.post-message-edited{

}

.post-image{
    width: 512px;
    
    max-width: 512px;
    max-height: 384px;
    object-fit: contain;
}

.post-noImage{
    background-color: aqua;
}

.postHud-owner{
    width: 624px;
    /* height: 32px; */
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;

}

.postHud-owner-actions a{
    color: inherit;
    margin-left: 8px;
    
}

.postHud-owner-actions button{
    border: none;
    text-decoration: none;
    background-color: #D0B8A8;
}

.postHud-other{
    width:624px;
    display: flex;
    justify-content: flex-end;
}

.likeContainer{
    /*  width: 48px; */
    /* display: flex;
    justify-content: space-between; */
    /* background-color: aqua; */
}

.likeCounter{
    padding-left: 6px;
}

.fa-heart{
    cursor: pointer;
}

.fa-trash-can{
    cursor: pointer;
}

