.footer-container{
    width:100%;
    overflow: hidden;
    /* margin: 0 auto; */
    height:42px;
    position: fixed;
    /* position:absolute; */
    bottom:0;
    text-align: center;
    /* background-color: #D0B8A8; */
    background-color: #F8EDE3;
    font-weight: bold;
    /* border-top: 1px solid gray; */
    box-shadow: rgba(150, 150, 150, 0.7) 0px -2px 8px 6px;
}

footer {
    box-sizing:border-box;
 }

footer p{
    margin-top: 8px;
}
